{% extends 'base.html.twig' %}
{% block head %}

        {% block title %}app_home{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/variables.scss">
    {% endblock %}
    {% block javascripts%}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock%}


{% block body %}
    {% block header %}
        {% include "partials/_header.html.twig" %}
    {% endblock %}
    </nav>

{%block main%}
    <!--Message d'accueil-->
    <div class="container" mt-4>
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue dans votre application de gestion des stocks</h1>
            <p class="lead">Cet outil vous permettra de suivre votre stock de façon efficace.</p>
            <hr class="my-4">
            <p>Pour utiliser cette application, veuillez vous créer un compte.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/inscription" role="button">Inscription</a>
            </p>
        </div>
    </div>
{% endblock %}


    {% block footer %}
        {% include "partials/_footer.html.twig" %}
    {% endblock %}
{% endblock %}


